<a href="https://colab.research.google.com/github/Borvs/Borvs/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Phyton

Phyton Variables

In [12]:
x = float(1)
a, b = 0, -1
a, b, c = "Sally", "John", "Ana"

print('This a sample')
print(a)
print(c)

This a sample
Sally
Ana

Casting

In [13]:
print(x)

1.0

Type() Function symbol

In [18]:
y= "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double qoutes and Single qoutes (Case Sensitive)

In [23]:
#h = "Maria"
h = 'Maria'
v = "1"
V = "2"
print(h)
print(v)
print(V)

Maria
1
2

Multiple Variables

In [30]:
x,y,z = "one", "two", 'three'

print(x) 
print(y)
print(z)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>

One Value to Multiple Variables

In [31]:
x = y = z = "Stella"
print(x,y,z)
print (x)
print (y)
print (z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [32]:
x = "enjoying"
y = "Phyton is "

print( y + x)

Phyton is enjoying