<a href="https://colab.research.google.com/github/Borvs/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Phyton

Phyton Variables

In [ ]:
x = float(1)
a, b = 0, -1
a, b, c = "Sally", "John", "Ana"

print('This a sample')
print(a)
print(c)

This a sample
Sally
Ana

Casting

In [ ]:
print(x)

1.0

Type() Function symbol

In [ ]:
y= "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double qoutes and Single qoutes (Case Sensitive)

In [ ]:
#h = "Maria"
h = 'Maria'
v = "1"
V = "2"
print(h)
print(v)
print(V)

Maria
1
2

Multiple Variables

In [ ]:
x,y,z = "one", "two", 'three'

print(x) 
print(y)
print(z)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>

One Value to Multiple Variables

In [ ]:
x = y = z = "Stella"
print(x,y,z)
print (x)
print (y)
print (z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [ ]:
x = "enjoying"
y = "Phyton is "

print( y + x)

Phyton is enjoying

Arithmetic Operations

In [ ]:
f = 1
g = 2
i = 6

print(f+g)
print(f*g)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**2)
print(2^6) #XOR
print(2|6)

3
2
3
1.5
1
1
9
4
6

Assigment Operator

In [ ]:
k = 2
l = 1
k+=3 #same as k = k + 3

print(k)
#print(p)

print(k>>2)

5
1

Boolean Operators

In [1]:
k=2
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

0
8

Relational Operators

In [5]:
v=1
k=2
print(v>k) #v=1, k=2

print(v==k)

False
False

Logical Operators

In [6]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [7]:
print(v is k)
print(v is not k)

False
True