<a href="https://colab.research.google.com/github/Borvs/OOP-58001/blob/main/Operations_andExpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [ ]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

bool() functions

In [ ]:
print(bool("Gabriel"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Functions can return Boolean

In [ ]:
def myFunction():
 return False

print(myFunction())

False

In [ ]:
def myFunction():
 return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

TRY 
Application 1

In [ ]:
print(10>9)

a=60
b-13



print(a==b)
print(a!=a)

True
False
False

Python Operators

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10%3)

13
7
30
3.3333333333333335
1

Bitwise Operators

In [ ]:
a=60
b=13
#a = 60, binary 0011 1100
#b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Application 2

In [ ]:
#Assignment Operators
x = 2
x+=3 # the same as x= x+3 
print(x)
x-=3 # the same as x= x+3 
print(x)
x*=3 # the same as x= x+3 
print(x)
x/=3 # the same as x= x+3 
print(x)
x%=3 # the same as x= x+3 
print(x)

5
2
6
2.0
2.0

Logical Operators

In [ ]:
k = True
l = False
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [ ]:
k is l 
l is not l

False

Control Structure


if Statement

In [ ]:
v = 1 
z = 2
if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [ ]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is less than z

Elif Statement

In [ ]:
number = int(input()) # to know if the number is positive or negative

if number>0:
 print("positive")
elif number<0:
 print("negative")
else:
 print("number is equal to zero")

2
positive

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [ ]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

1
You are not qualified to vote

Nested if

In [ ]:
u = int(input())
if u>10:
  print("u is above 10")
if u>20:
  print("u is above 20")
if u>30:
  print("u is above 30")
if u>40:
  print("u is above 40")
if u>50:
  print("u is above 50")
if u>60:
  print("u is above 60")
else:
  print("u is below 60")

69
u is above 10
u is above 20
u is above 30
u is above 40
u is above 50
u is above 60

Looping statement

In [ ]:
week = ['Sunday','Monday','Tueday', 'Wednesday','Thursday', 'Friday', 'Saturday']
season = ["rainy", "sunny"]
for x in week:
 for y in season:
  print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tueday
sunny Tueday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [ ]:
for x in week:
  if x =="Thursday":
    break
print(x)

Thursday

In [ ]:
for x in week:
  if x =="Thursday":
    break
  print(x)

Sunday
Monday
Tueday
Wednesday

In [ ]:
#TO display Sunday to Thursday

for z in week:
  if z =="Friday":
    break
  print(z)

Sunday
Monday
Tueday
Wednesday
Thursday

While

In [ ]:
i= 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4- Create a Python program that display number from 1 - 4 using While loop statement

In [ ]:
g= 1

while g<=4:
 print(g)
 g+=1

1
2
3
4

Application 4- Create a Python program that display number 4 using While loop statement and break

In [ ]:
g= 1

while g<=4:
 if g==4:
   print(g)
 g+=1

4